*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    }
    .banner{
        height: 100vh; /*arka plan resmini boyutunu ayarliyor */
        width: 100%;   
        background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(resim1.jpg);
        background-position: center;  /* arka plandaki resmini sayfaya ortaliyor */
        background-size: cover; /* arka plandaki resmi sayfaya yayiyor */
    }
    .navbar{
        display: flex;
        width: 90%;
        margin: auto;
        padding: 32px 0;
        align-items: center;
        justify-content: space-between;
        
    }
    .logo{
        cursor: pointer; /* logonun ustune geldiginde imlec degisiyor */
        border-radius: 50%; /* kare olan logomuzu kenarlarini yuvarlak yaptik */
       
    }
    .navbar ul li {

        list-style-type: none;
        display: inline-block;
        margin: 0 25px;
             }
             .navbar ul li a{
                text-decoration: none;
                color: #fff;
                transition-delay: 500ms;
                    }
                    .navbar ul li a:hover{

                        box-shadow: 0 2px aqua;
                        transition: 1s;
                        color: rgb(43, 93, 93);
                    }

            .content{
                width: 100%;
                position: absolute;
                top: 40%;
                color: white;
                text-align: center;
            }        
.content h1 {
    font-size: 65px;
   color:bisque ;
}


.content p{
    margin: 20px auto;

}
          
button{
    width: 200px;
    padding: 15px 0;
    border-radius: 35px;
    margin: 20px;
    text-align: center;
    color: rgb(181, 93, 93);
    cursor: pointer;
    font-weight: 600;
    background-color: aqua;
    font-size: 17px;
       transition-delay: 250ms;
}

button:hover{
    color: rgb(255, 255, 255);
    transition: 1s;
    box-shadow: 0 3px white;
    

}